<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('homepage') }}">Home</a></li>
        <li class="active"><a href="{{ url_for('profile') }}">My Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}" class="glyphicon glyphicon-log-in">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <h1>User Profile</h1>
    <div class="name_container">
        <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="email">{{ user.email }}</p>
    </div>

    <h2>Booking Information</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Booking Number</th>
                <th>Room Type</th>
                <th>Number of People</th>
                <th>Price (per night)</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Total price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ booking.room_type }}</td>
                <td>{{ booking.max_capacity }}</td>
                <td>{{ booking.room_price }}</td>
                <td>{{ booking.check_in_date }}</td>
                <td>{{ booking.check_out_date }}</td>
                <td>{{booking.total_price}}</td>
                <td>
                    <form action="{{ url_for('delete_u_booking', booking_id=booking.booking_id, room_id=booking.room_id) }}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total Cost: {{ total_coast }}</h3>
    <form action="{{ url_for('all_right') }}" method="post">
        <input type="hidden" name="total_coast" value="{{ total_coast }}">
        <button type="submit" class="btn btn-primary">Make order</button>
    </form>

</div>

</body>
</html>