<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking form</title>
    <link rel="stylesheet" href="../static/css/booking.css" >
</head>
<body>

{% if form.errors %}
    <div class="error-messages">
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}


<h1> Choose what room you want and we show you available rooms</h1>
<!--<form action="reservation.php" method="post">-->
<form method="POST" action="{{ url_for('booking') }}" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="people">Adults</label>
        {{ form.number_people(class="form-control form-control-lg", id="typeNumber_peopleX") }}
    </div>

    <div class="form-group">
        <label for="room-selection">Select Room Preference</label>
        {{ form.room_type(class="form-control form-control-lg", id="typeRoom_typeX") }}
    </div>

    <button type="submit" class='submit-btn'>🔍</button>
</form>




</body>
</html>




